.version.index /* version checker */
{
	color: #0000FC;
	background-color: #0A80F3;
}

.html
{
	background-color: #111111;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 8159px;
	background-image: none;
	border-style: none;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -335px;
	width: 0.01px;
}

#u1542
{
	z-index: 672;
	height: 69px;
	top: 0px;
}

#u1542-bw
{
	z-index: 672;
}

#u226
{
	z-index: 657;
	min-height: 670px;
	padding-bottom: 30px;
	background: transparent url("../images/homeslide.jpg") no-repeat center center;
	background-size: cover;
}

#pu423
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 158px;
	margin-left: 115px;
}

#u423
{
	z-index: 658;
	width: 50px;
	height: 26px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	border-width: 2px 0px 0px;
}

#u349-6
{
	z-index: 663;
	width: 370px;
	min-height: 52px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 140px;
	position: relative;
}

#pu350
{
	width: 0.01px;
	margin-top: 31px;
}

#u350
{
	z-index: 669;
	width: 170px;
	height: 61px;
	border-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #000000 url("../images/iphone%20download.png") no-repeat center center;
	background-size: cover;
}

#u350:hover
{
	width: 170px;
	height: 61px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #222222 url("../images/iphone%20download.png") no-repeat center center;
	background-size: cover;
}

#u357
{
	z-index: 670;
	width: 170px;
	height: 61px;
	border-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
	background: #000000 url("../images/android%20download.png") no-repeat center center;
	background-size: cover;
}

#u357:hover
{
	width: 170px;
	height: 61px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #222222 url("../images/android%20download.png") no-repeat center center;
	background-size: cover;
}

#u2375
{
	z-index: 671;
	width: 300px;
	height: 600px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 885px;
	background: transparent url("../images/phone%20homepage.png") no-repeat center center;
	background-size: cover;
}

#u226-bw
{
	z-index: 657;
	min-height: 670px;
}

#u348-4
{
	z-index: 659;
	width: 570px;
	min-height: 124px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 115px;
}

#pu1543
{
	width: 0.01px;
	padding-bottom: 70px;
	margin-top: -700px;
}

#u1543
{
	z-index: 725;
	width: 130px;
	height: 70px;
	top: 0px;
	left: 50%;
	margin-left: -600px;
}

#menuu374
{
	z-index: 673;
	width: 850px;
	top: 18px;
	left: 50%;
	margin-left: -401px;
}

#u403
{
	width: 104px;
	min-height: 35px;
	margin-right: -10000px;
}

#u404
{
	width: 104px;
	padding-bottom: 18px;
}

#u407-4
{
	width: 104px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u375
{
	width: 104px;
	min-height: 35px;
	margin-right: -10000px;
	left: 106px;
}

#u376
{
	width: 104px;
	padding-bottom: 18px;
}

#u378-4
{
	width: 104px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u396
{
	width: 104px;
	min-height: 35px;
	margin-right: -10000px;
	left: 212px;
}

#u399
{
	width: 104px;
	padding-bottom: 18px;
}

#u402-4
{
	width: 104px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u382
{
	width: 104px;
	min-height: 35px;
	margin-right: -10000px;
	left: 318px;
}

#u383
{
	width: 104px;
	padding-bottom: 18px;
}

#u404.MuseMenuActive,#u376.MuseMenuActive,#u399.MuseMenuActive,#u383.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u385-4
{
	width: 104px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u404.MuseMenuActive #u407-4,#u376.MuseMenuActive #u378-4,#u399.MuseMenuActive #u402-4,#u383.MuseMenuActive #u385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u389
{
	width: 105px;
	min-height: 35px;
	margin-right: -10000px;
	left: 424px;
}

#u392
{
	width: 105px;
	padding-bottom: 18px;
}

#u394-4
{
	width: 105px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u1330
{
	width: 105px;
	min-height: 35px;
	margin-right: -10000px;
	left: 531px;
}

#u1333
{
	width: 105px;
	padding-bottom: 18px;
}

#u1335-4
{
	width: 105px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u1337
{
	width: 105px;
	min-height: 35px;
	margin-right: -10000px;
	left: 638px;
}

#u1340
{
	width: 105px;
	padding-bottom: 18px;
}

#u1342-4
{
	width: 105px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u1344
{
	width: 105px;
	min-height: 35px;
	margin-right: -10000px;
	left: 745px;
}

#u1345
{
	width: 105px;
	padding-bottom: 18px;
}

#u392.MuseMenuActive,#u1333.MuseMenuActive,#u1340.MuseMenuActive,#u1345.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1348-4
{
	width: 105px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u392.MuseMenuActive #u394-4,#u1333.MuseMenuActive #u1335-4,#u1340.MuseMenuActive #u1342-4,#u1345.MuseMenuActive #u1348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 105px;
	margin: 0px -10000px 0px 0px;
}

#u1197
{
	z-index: 722;
	width: 18px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: 474px;
}

#u1323
{
	z-index: 723;
	width: 18px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: 519px;
}

#u1327
{
	z-index: 724;
	width: 18px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: 564px;
}

#u677
{
	z-index: 598;
	width: 435px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 383px;
	margin-top: 82px;
	position: relative;
}

#u422-4
{
	z-index: 599;
	width: 435px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u543-4
{
	z-index: 603;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 67px;
	margin-top: 20px;
	position: relative;
}

#pamphletu582
{
	z-index: 607;
	width: 0.01px;
	height: 222px;
	padding-bottom: 8px;
	margin-left: 515px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u583
{
	position: absolute;
	width: 453px;
	background-color: transparent;
	left: 32px;
}

#u583popup
{
	z-index: 608;
}

#u584
{
	z-index: 609;
	width: 453px;
	height: 183px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u585
{
	z-index: 610;
	width: 453px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#ppu589-4
{
	width: 0.01px;
	padding-bottom: 31px;
	margin-right: -10000px;
	margin-top: 40px;
}

#pu589-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 82px;
}

#u589-4
{
	z-index: 614;
	width: 203px;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u587
{
	z-index: 613;
	width: 222px;
	height: 19px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u586
{
	z-index: 612;
	width: 96px;
	height: 19px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,7,37);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,7,37);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,7,37);
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: -7px;
	border-width: 0px 0px 1px;
}

#u588
{
	z-index: 611;
	width: 144px;
	height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #FD419B;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 303px;
	background: #333333 url("../images/features_1.jpg") no-repeat center center;
	background-size: cover;
}

#u597
{
	z-index: 618;
	width: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
	left: 8px;
}

#u598
{
	position: absolute;
	width: 50px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px #FFFFFF,0px 0px 8px #FFFFFF;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	border-radius: 100px;
	padding-bottom: 8px;
	top: -8px;
	left: -8px;
	-pie-background: rgba(255,255,255,0.5);
}

#u599
{
	z-index: 620;
	width: 34px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u600
{
	z-index: 621;
	width: 24px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 5px;
}

#u592
{
	position: absolute;
	width: 30px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 2px;
	top: 190px;
	left: 10px;
}

#u593
{
	z-index: 623;
	width: 24px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu474
{
	z-index: 581;
	width: 0.01px;
	height: 217px;
	padding-bottom: 8px;
	margin-left: 15px;
	top: -136px;
	margin-bottom: -136px;
	position: relative;
}

#u475
{
	position: absolute;
	width: 452px;
	background-color: transparent;
}

#u475popup
{
	z-index: 582;
}

#u476
{
	z-index: 583;
	width: 452px;
	height: 175px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u477
{
	z-index: 584;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u481
{
	z-index: 585;
	width: 144px;
	height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #FD419B;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #333333 url("../images/features_2.jpg") no-repeat center center;
	background-size: cover;
}

#pu479-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 150px;
}

#u479-4
{
	z-index: 588;
	width: 205px;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	position: relative;
}

#pu478
{
	width: 0.01px;
	padding-bottom: 46px;
	margin-top: -6px;
}

#u478
{
	z-index: 587;
	width: 95px;
	height: 19px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	border-width: 1px 0px 0px;
}

#u480
{
	z-index: 586;
	width: 139px;
	height: 19px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,27,-46);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,27,-46);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,27,-46);
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 82px;
	border-width: 0px 0px 1px;
}

#u484
{
	z-index: 592;
	width: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 352px;
}

#u485
{
	position: absolute;
	width: 50px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px #FFFFFF,0px 0px 8px #FFFFFF;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	border-radius: 100px;
	padding-bottom: 8px;
	top: -8px;
	left: -8px;
	-pie-background: rgba(255,255,255,0.5);
}

#u546
{
	z-index: 594;
	width: 34px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u486
{
	z-index: 595;
	width: 24px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 5px;
}

#u490
{
	position: absolute;
	width: 30px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 2px;
	top: 185px;
	left: 354px;
}

#u491
{
	z-index: 597;
	width: 24px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#pu424
{
	width: 0.01px;
	margin-left: 185px;
	margin-top: -225px;
}

#u424
{
	z-index: 580;
	width: 830px;
	height: 500px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/features.png") no-repeat center center;
	background-size: cover;
}

#pamphletu607
{
	z-index: 624;
	width: 0.01px;
	height: 126px;
	padding-bottom: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 390px;
}

#u618
{
	position: absolute;
	width: 550px;
	background-color: transparent;
	left: 60px;
}

#u618popup
{
	z-index: 625;
}

#u619
{
	z-index: 626;
	width: 550px;
	height: 183px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u620
{
	z-index: 627;
	width: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 1px;
}

#pu624-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 40px;
}

#u624-4
{
	z-index: 630;
	width: 203px;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 163px;
	position: relative;
}

#u621
{
	z-index: 629;
	width: 380px;
	height: 19px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u623
{
	z-index: 628;
	width: 144px;
	height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #FD419B;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 380px;
	background: #333333 url("../images/features_3.jpg") no-repeat center center;
	background-size: cover;
}

#u610
{
	z-index: 634;
	width: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 8px;
}

#u611
{
	position: absolute;
	width: 50px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px #FFFFFF,0px 0px 8px #FFFFFF;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	border-radius: 100px;
	padding-bottom: 8px;
	top: -8px;
	left: -8px;
	-pie-background: rgba(255,255,255,0.5);
}

#u614
{
	z-index: 636;
	width: 34px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u612
{
	z-index: 637;
	width: 24px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 5px;
}

#u615
{
	position: absolute;
	width: 30px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 2px;
	top: 93px;
	left: 10px;
}

#u616
{
	z-index: 639;
	width: 24px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#pamphletu652
{
	z-index: 640;
	width: 0.01px;
	height: 42px;
	padding-bottom: 189px;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 13px;
}

#u653
{
	position: absolute;
	width: 495px;
	background-color: transparent;
	top: 53px;
}

#u653popup
{
	z-index: 641;
}

#u654
{
	z-index: 642;
	width: 495px;
	height: 178px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u655
{
	z-index: 643;
	width: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u658
{
	z-index: 644;
	width: 144px;
	height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #FD419B;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: #333333 url("../images/features_4.jpg") no-repeat center center;
	background-size: cover;
}

#pu656
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 150px;
}

#u656
{
	z-index: 645;
	width: 108px;
	height: 19px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,99,-21);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,99,-21);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,99,-21);
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 245px;
	border-width: 0px 0px 1px;
}

#u657
{
	z-index: 646;
	width: 255px;
	height: 19px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	border-width: 1px 0px 0px;
}

#u659-4
{
	z-index: 647;
	width: 205px;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 30px;
}

#u667
{
	z-index: 651;
	width: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 485px;
}

#u668
{
	position: absolute;
	width: 50px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px #FFFFFF,0px 0px 8px #FFFFFF;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	border-radius: 100px;
	padding-bottom: 8px;
	top: -8px;
	left: -8px;
	-pie-background: rgba(255,255,255,0.5);
}

#u598.PamphletThumbSelected,#u485.PamphletThumbSelected,#u611.PamphletThumbSelected,#u668.PamphletThumbSelected
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u669
{
	z-index: 653;
	width: 34px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u598.PamphletThumbSelected #u599,#u485.PamphletThumbSelected #u546,#u611.PamphletThumbSelected #u614,#u668.PamphletThumbSelected #u669
{
	width: 34px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u670
{
	z-index: 654;
	width: 24px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 5px;
}

#u662
{
	position: absolute;
	width: 30px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 2px;
	top: 10px;
	left: 487px;
}

#u663
{
	z-index: 656;
	width: 24px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#u681
{
	z-index: 501;
	min-height: 570.6357346602274px;
	padding-bottom: 0px;
	background: transparent url("../images/review_bg.jpg") no-repeat center center;
	background-size: cover;
}

#u681_position_content
{
	padding-bottom: 282px;
}

#u678
{
	z-index: 502;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	left: 515px;
	margin-top: 86px;
	position: relative;
}

#u679-4
{
	z-index: 503;
	width: 370px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u680-4
{
	z-index: 507;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 35px;
	margin-top: 20px;
	position: relative;
}

#u719
{
	z-index: 578;
	width: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 235px;
	margin-top: 20px;
	position: relative;
}

#u716
{
	z-index: 579;
	width: 74px;
	min-height: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 60px;
	text-align: center;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
}

#u681-bw
{
	z-index: 501;
	min-height: 570.6357346602274px;
}

#pamphletu689
{
	z-index: 511;
	width: 0.01px;
	height: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	left: 335px;
}

#u690
{
	position: absolute;
	width: 830px;
	background-color: transparent;
}

#u690popup
{
	z-index: 512;
}

#u691
{
	z-index: 513;
	width: 830px;
	height: 236px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u691_position_content
{
	padding-top: 20px;
}

#u704
{
	z-index: 514;
	width: 144px;
	height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #333333 url("../images/review_1.jpg") no-repeat center center;
	background-size: cover;
}

#pu711-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 182px;
}

#u711-4
{
	z-index: 515;
	width: 618px;
	min-height: 98px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u1097
{
	z-index: 528;
	width: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u1087
{
	z-index: 529;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1091
{
	z-index: 530;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 38px;
}

#u1093
{
	z-index: 531;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u1089
{
	z-index: 532;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u1095
{
	z-index: 533;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 153px;
}

#u1085
{
	z-index: 527;
	width: 45px;
	height: 13px;
	border-style: solid;
	border-color: #FD419B;
	background-color: transparent;
	margin-left: 182px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u714-4
{
	z-index: 519;
	width: 235px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 182px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u715-4
{
	z-index: 523;
	width: 235px;
	min-height: 26px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 183px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u722
{
	z-index: 534;
	width: 801px;
	height: 215px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-top: 20px;
	padding-right: 29px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u727
{
	z-index: 535;
	width: 144px;
	height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #333333 url("../images/review_2.jpg") no-repeat center center;
	background-size: cover;
}

#pu728-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 182px;
}

#u728-4
{
	z-index: 536;
	width: 618px;
	min-height: 98px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u1075
{
	z-index: 548;
	width: 145px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u1080
{
	z-index: 549;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1082
{
	z-index: 550;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 38px;
}

#u1078
{
	z-index: 551;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u1076
{
	z-index: 552;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u1084
{
	z-index: 553;
	width: 45px;
	height: 13px;
	border-style: solid;
	border-color: #FD419B;
	background-color: transparent;
	margin-left: 182px;
	margin-top: 1px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u729-4
{
	z-index: 540;
	width: 235px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 182px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u730-4
{
	z-index: 544;
	width: 235px;
	min-height: 26px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 183px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u738
{
	z-index: 554;
	width: 801px;
	height: 215px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-top: 20px;
	padding-right: 29px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u744
{
	z-index: 555;
	width: 144px;
	height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #333333 url("../images/review_3.jpg") no-repeat center center;
	background-size: cover;
}

#pu745-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 183px;
}

#u745-4
{
	z-index: 556;
	width: 618px;
	min-height: 90px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u1073
{
	z-index: 568;
	width: 145px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u1065
{
	z-index: 569;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1067
{
	z-index: 570;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 38px;
}

#u1069
{
	z-index: 571;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u1071
{
	z-index: 572;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u1074
{
	z-index: 573;
	width: 45px;
	height: 13px;
	border-style: solid;
	border-color: #FD419B;
	background-color: transparent;
	margin-left: 183px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u746-4
{
	z-index: 560;
	width: 235px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 183px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u747-4
{
	z-index: 564;
	width: 235px;
	min-height: 26px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 183px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u694
{
	z-index: 574;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 765px;
}

#u695
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
}

#u695:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u721
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	left: 25px;
}

#u721:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u737
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	left: 50px;
}

#u737:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u695.PamphletThumbSelected,#u721.PamphletThumbSelected,#u737.PamphletThumbSelected
{
	border-style: none;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 100px;
	width: 15px;
	height: 15px;
	min-height: 2px;
	margin: 0px;
}

#pu780
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 81px;
}

#u780
{
	z-index: 468;
	width: 570px;
	height: 600px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/about_img.png") no-repeat center center;
	background-size: cover;
}

#pu777
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 600px;
}

#u777
{
	z-index: 459;
	width: 430px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u778-4
{
	z-index: 460;
	width: 430px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u779-4
{
	z-index: 464;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 20px;
	position: relative;
}

#u787-4
{
	z-index: 469;
	width: 535px;
	min-height: 69px;
	background-color: transparent;
	line-height: 21px;
	font-size: 14px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 35px;
	position: relative;
}

#u803
{
	z-index: 473;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
}

#u795
{
	z-index: 474;
	width: 46px;
	border-color: #333333;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u793
{
	z-index: 475;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u796-4
{
	z-index: 476;
	width: 300px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 70px;
}

#u804
{
	z-index: 480;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#u808
{
	z-index: 481;
	width: 46px;
	border-color: #333333;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u805
{
	z-index: 482;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u807-4
{
	z-index: 483;
	width: 300px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 70px;
}

#u809
{
	z-index: 487;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#u813
{
	z-index: 488;
	width: 46px;
	border-color: #333333;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u810
{
	z-index: 489;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u812-4
{
	z-index: 490;
	width: 300px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 70px;
}

#u814
{
	z-index: 494;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#u818
{
	z-index: 495;
	width: 46px;
	border-color: #333333;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u815
{
	z-index: 496;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u817-4
{
	z-index: 497;
	width: 300px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 70px;
}

#u820
{
	z-index: 401;
	min-height: 628.6500000000001px;
	padding-bottom: 0px;
	background: transparent url("../images/fact_bg.jpg") no-repeat center bottom;
	background-size: cover;
}

#u820_position_content
{
	padding-bottom: 133px;
}

#u830-4
{
	z-index: 402;
	width: 400px;
	min-height: 122px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	text-align: left;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	left: 115px;
	margin-top: 82px;
	position: relative;
}

#u1064-4
{
	z-index: 454;
	width: 535px;
	min-height: 54px;
	background-color: transparent;
	line-height: 21px;
	font-size: 14px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	left: 115px;
	margin-top: 31px;
	position: relative;
}

#pu839
{
	width: 0.01px;
	left: 115px;
	margin-top: 28px;
	position: relative;
}

#u839
{
	z-index: 406;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u837
{
	z-index: 411;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u835
{
	z-index: 412;
	width: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #F0F0F0;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u832
{
	z-index: 413;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u836-4
{
	z-index: 414;
	width: 200px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u834-4
{
	z-index: 407;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u847
{
	z-index: 430;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u848
{
	z-index: 435;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u849
{
	z-index: 436;
	width: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #F0F0F0;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u850
{
	z-index: 437;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u852-4
{
	z-index: 438;
	width: 200px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u853-4
{
	z-index: 431;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu840
{
	width: 0.01px;
	left: 115px;
	margin-top: 27px;
	position: relative;
}

#u840
{
	z-index: 418;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u843
{
	z-index: 423;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u844
{
	z-index: 424;
	width: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #F0F0F0;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u845
{
	z-index: 425;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u842-4
{
	z-index: 426;
	width: 200px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u841-4
{
	z-index: 419;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u854
{
	z-index: 442;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u857
{
	z-index: 447;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u858
{
	z-index: 448;
	width: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #F0F0F0;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u859
{
	z-index: 449;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#pu836-4,#pu852-4,#pu842-4,#pu856-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 70px;
}

#u856-4
{
	z-index: 450;
	width: 200px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u855-4
{
	z-index: 443;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u820-bw
{
	z-index: 401;
	min-height: 628.6500000000001px;
	margin-top: 100px;
}

#u2395
{
	z-index: 458;
	width: 570px;
	height: 600px;
	position: fixed;
	top: 3059px;
	left: 615px;
	background: transparent url("../images/fact_img.png") no-repeat center center;
	background-size: cover;
}

#features,#about,#screenshot
{
	margin-left: 589px;
	position: relative;
}

#u872
{
	z-index: 327;
	width: 435px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 383px;
	margin-top: 79px;
	position: relative;
}

#u873-4
{
	z-index: 328;
	width: 435px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u874-4
{
	z-index: 332;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 67px;
	margin-top: 20px;
	position: relative;
}

#pamphletu876
{
	z-index: 336;
	width: 0.01px;
	height: 44px;
	padding-bottom: 553px;
	margin-left: 15px;
	position: relative;
}

#u879
{
	z-index: 337;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#u880
{
	position: absolute;
	width: 70px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u880
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u880:hover
{
	border-color: #999999;
	width: 70px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u880:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u880.PamphletThumbSelected
{
	border-color: #DEDEDE;
	width: 70px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

#u919
{
	position: absolute;
	width: 70px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: 80px;
}

.ie #u880.PamphletThumbSelected,.ie #u919
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u919:hover
{
	border-color: #999999;
	width: 70px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u919:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u919.PamphletThumbSelected
{
	border-color: #DEDEDE;
	width: 70px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

#u885
{
	position: absolute;
	width: 1170px;
	background-color: transparent;
	top: 46px;
}

#u885popup
{
	z-index: 340;
}

#u887
{
	z-index: 341;
	width: 1170px;
	height: 500px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u892
{
	z-index: 342;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u875
{
	z-index: 343;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../images/screen_1.jpg") no-repeat center center;
	background-size: cover;
}

#u891-4
{
	z-index: 344;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u893
{
	z-index: 348;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 300px;
}

#u894
{
	z-index: 349;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../images/screen_2.jpg") no-repeat center center;
	background-size: cover;
}

#u895-4
{
	z-index: 350;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u896
{
	z-index: 354;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 600px;
}

#u898
{
	z-index: 355;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../images/screen_3.jpg") no-repeat center center;
	background-size: cover;
}

#u897-4
{
	z-index: 356;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u899
{
	z-index: 360;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 900px;
}

#u901
{
	z-index: 361;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../images/screen_4.jpg") no-repeat center center;
	background-size: cover;
}

#u900-4
{
	z-index: 362;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u920
{
	z-index: 366;
	width: 1170px;
	height: 500px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u933
{
	z-index: 367;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u934
{
	z-index: 368;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../images/screen_5.jpg") no-repeat center center;
	background-size: cover;
}

#u935-4
{
	z-index: 369;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u936
{
	z-index: 373;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 300px;
}

#u937
{
	z-index: 374;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../images/screen_6.jpg") no-repeat center center;
	background-size: cover;
}

#u938-4
{
	z-index: 375;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u939
{
	z-index: 379;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 600px;
}

#u940
{
	z-index: 380;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../images/screen_7.jpg") no-repeat center center;
	background-size: cover;
}

#u941-4
{
	z-index: 381;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u942
{
	z-index: 385;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 900px;
}

#u943
{
	z-index: 386;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../images/screen_8.jpg") no-repeat center center;
	background-size: cover;
}

#u944-4
{
	z-index: 387;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u889
{
	position: absolute;
	width: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #FD419B;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	border-radius: 2px;
	padding-bottom: 12px;
	top: 553px;
	left: 470px;
}

#u890-4
{
	z-index: 392;
	width: 74px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u883
{
	position: absolute;
	width: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #FD419B;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	border-radius: 2px;
	padding-bottom: 12px;
	top: 553px;
	left: 600px;
}

#u889:hover,#u883:hover
{
	border-color: #FD419B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u884-4
{
	z-index: 397;
	width: 74px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u890-4:hover,#u884-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 74px;
	margin: 12px -10000px 0px 0px;
}

#u890-4:hover p,#u884-4:hover p
{
	color: #FD419B;
	visibility: inherit;
}

#u981
{
	z-index: 315;
	min-height: 759.7336065573752px;
	padding-bottom: 0px;
	background: transparent url("../images/video_bg.jpg") no-repeat center bottom;
	background-size: cover;
}

#u981_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
	padding-top: 2px;
	padding-bottom: 92px;
}

#u988
{
	z-index: 316;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	left: 515px;
	margin-top: 82px;
	position: relative;
}

#u989-4
{
	z-index: 317;
	width: 370px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u990-4
{
	z-index: 321;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 35px;
	margin-top: 20px;
	position: relative;
}

#u1178
{
	z-index: 325;
	width: 875px;
	padding-bottom: 47px;
	left: 261px;
	margin-top: 16px;
	position: relative;
	background: transparent url("../images/video_img.png") no-repeat center center;
	background-size: cover;
}

#u1185
{
	z-index: 326;
	width: 655px;
	min-height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 111px;
}

#u981-bw
{
	z-index: 315;
	min-height: 759.7336065573752px;
	margin-top: 99px;
}

#ppu1031-6
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 102px;
}

#pu1031-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 81px;
}

#u1031-6
{
	z-index: 302;
	width: 430px;
	min-height: 122px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	text-align: left;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1033-4
{
	z-index: 309;
	width: 535px;
	min-height: 69px;
	background-color: transparent;
	line-height: 21px;
	font-size: 14px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 40px;
	position: relative;
}

#pu1034
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 46px;
}

#u1034
{
	z-index: 313;
	width: 168px;
	height: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #FD419B;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/iphone%20download.png") no-repeat center center;
	background-size: cover;
}

#u1034:hover
{
	border-style: none;
	width: 170px;
	height: 61px;
	min-height: 2px;
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/iphone%20download.png") no-repeat center center;
	background-size: cover;
}

#u1035
{
	z-index: 314;
	width: 168px;
	height: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #FD419B;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
	background: transparent url("../images/android%20download.png") no-repeat center center;
	background-size: cover;
}

#u1035:hover
{
	border-style: none;
	width: 170px;
	height: 61px;
	min-height: 2px;
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/android%20download.png") no-repeat center center;
	background-size: cover;
}

#u1032
{
	z-index: 308;
	width: 535px;
	height: 600px;
	position: relative;
	margin-right: -10000px;
	left: 600px;
	background: transparent url("../images/download_img.png") no-repeat center center;
	background-size: cover;
}

#pu681,#pu1037
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 101px;
}

#u1037
{
	z-index: 257;
	min-height: 191px;
	padding-bottom: 248px;
	background: transparent url("../images/subscribe_bg.jpg") no-repeat center bottom;
	background-size: cover;
}

#u1038
{
	z-index: 258;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 515px;
}

#u1039-4
{
	z-index: 259;
	width: 370px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1040-4
{
	z-index: 263;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 35px;
	margin-top: 20px;
	position: relative;
}

#u1037-bw
{
	z-index: 257;
	min-height: 191px;
}

#widgetu1041
{
	z-index: 267;
	width: 0.01px;
	height: 92px;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 430px;
}

#widgetu1046
{
	z-index: 268;
	width: 540px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu1046.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 540px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1048-4
{
	z-index: 269;
	width: 502px;
	min-height: 22px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	padding: 14px 14px 14px 24px;
	-pie-background: rgba(255,255,255,0.3);
}

#widgetu1046.fld-err-st #u1048-4
{
	border-color: #D7244C;
	padding-top: 14px;
	padding-bottom: 14px;
	min-height: 22px;
	width: 502px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1046.non-empty-st #u1048-4 *
{
	color: #FFFFFF;
}

#widgetu1046.fld-err-st #u1048-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1046_input,#widgetu1046_prompt
{
	width: 502px;
	min-height: 22px;
	color: #FFFFFF;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	padding: 14px 14px 14px 24px;
}

#widgetu1046.fld-err-st #widgetu1046_input,#widgetu1046.fld-err-st #widgetu1046_prompt
{
	padding-top: 14px;
	padding-bottom: 14px;
}

#u1050-4
{
	z-index: 273;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 170px;
}

#widgetu1041.frm-sub-st #u1050-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1056-4
{
	z-index: 277;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 170px;
}

#widgetu1041.frm-subm-err-st #u1056-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1051-4
{
	z-index: 281;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 170px;
}

#widgetu1041.frm-sub-st #u1050-4,#widgetu1041.frm-subm-err-st #u1056-4,#widgetu1041.frm-subm-ok-st #u1051-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#u1057-17
{
	z-index: 285;
	min-height: 50px;
	width: 154px;
	position: relative;
	margin-right: -10000px;
	left: 385px;
	background: url("../images/u1057-17.png") no-repeat 0px 0px;
}

#u1057-17:hover
{
	background: url("../images/u1057-17-r.png") no-repeat 0px 0px;
}

#u1057-17:active
{
	background: url("../images/u1057-17-m.png") no-repeat 0px 0px;
}

#widgetu1041.frm-sub-st #u1057-17
{
	background: url("../images/u1057-17-fs.png") no-repeat 0px 0px;
}

#pricing
{
	margin-left: 589px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1059
{
	z-index: 109;
	width: 435px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 383px;
	margin-top: 83px;
	position: relative;
}

#u1061-4
{
	z-index: 110;
	width: 435px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1060-4
{
	z-index: 114;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 67px;
	margin-top: 20px;
	position: relative;
}

#pu1234
{
	width: 0.01px;
	margin-left: 115px;
	margin-top: 51px;
}

#u1234
{
	z-index: 118;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u1215
{
	z-index: 121;
	width: 270px;
	background-color: #333333;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 13px;
	position: relative;
}

#u1216-4
{
	z-index: 122;
	width: 201px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 35px;
}

#u1218
{
	z-index: 120;
	width: 270px;
	background-color: #FD419B;
	padding-bottom: 63px;
	position: relative;
	margin-right: -10000px;
}

#u1217-4
{
	z-index: 126;
	width: 35px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: right;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 50px;
}

#u1219-4
{
	z-index: 130;
	width: 101px;
	min-height: 63px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 85px;
}

#u1220-4
{
	z-index: 134;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 50px;
}

#u1228
{
	z-index: 119;
	width: 250px;
	background-color: #F8F8F8;
	border-radius: 0px 0px 3px 3px ;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	padding: 25px 10px 31px;
}

#u1221-4
{
	z-index: 138;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1224-4
{
	z-index: 142;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u1225-4
{
	z-index: 146;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u1226-4
{
	z-index: 150;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u1227-4
{
	z-index: 154;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#buttonu1230
{
	z-index: 158;
	width: 231px;
	border-color: #787878;
	background-color: #222222;
	border-radius: 3px;
	padding-bottom: 14px;
	margin-left: 10px;
	margin-top: 25px;
	position: relative;
}

#buttonu1230:hover
{
	background-color: #333333;
	width: 231px;
	min-height: 0px;
	margin: 25px 0px 0px 10px;
}

#u1232-4
{
	z-index: 159;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 56px;
}

#buttonu1230:hover #u1232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 13px -10000px 0px 0px;
}

#u1236
{
	z-index: 163;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u1244
{
	z-index: 166;
	width: 270px;
	background-color: #333333;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 13px;
	position: relative;
}

#u1242-4
{
	z-index: 167;
	width: 201px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 35px;
}

#u1249
{
	z-index: 165;
	width: 270px;
	background-color: #FD419B;
	padding-bottom: 63px;
	position: relative;
	margin-right: -10000px;
}

#u1243-4
{
	z-index: 171;
	width: 35px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: right;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 50px;
}

#u1245-4
{
	z-index: 175;
	width: 101px;
	min-height: 63px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 85px;
}

#u1248-4
{
	z-index: 179;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 50px;
}

#u1237
{
	z-index: 164;
	width: 250px;
	background-color: #F8F8F8;
	border-radius: 0px 0px 3px 3px ;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	padding: 25px 10px 31px;
}

#u1250-4
{
	z-index: 183;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1239-4
{
	z-index: 187;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u1241-4
{
	z-index: 191;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u1240-4
{
	z-index: 195;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u1238-4
{
	z-index: 199;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#buttonu1246
{
	z-index: 203;
	width: 231px;
	border-color: #787878;
	background-color: #222222;
	border-radius: 3px;
	padding-bottom: 14px;
	margin-left: 10px;
	margin-top: 25px;
	position: relative;
}

#buttonu1246:hover
{
	background-color: #333333;
	width: 231px;
	min-height: 0px;
	margin: 25px 0px 0px 10px;
}

#u1247-4
{
	z-index: 204;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 56px;
}

#buttonu1230.ButtonSelected #u1232-4,#buttonu1246:hover #u1247-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 13px -10000px 0px 0px;
}

#buttonu1246:hover #u1247-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1251
{
	z-index: 208;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#u1259
{
	z-index: 211;
	width: 270px;
	background-color: #333333;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 13px;
	position: relative;
}

#u1257-4
{
	z-index: 212;
	width: 201px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 35px;
}

#pu704,#pu727,#pu744,#pu1218,#pu1249,#pu1264
{
	width: 0.01px;
}

#u1264
{
	z-index: 210;
	width: 270px;
	background-color: #FD419B;
	padding-bottom: 63px;
	position: relative;
	margin-right: -10000px;
}

#u1258-4
{
	z-index: 216;
	width: 35px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: right;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 50px;
}

#u1260-4
{
	z-index: 220;
	width: 101px;
	min-height: 63px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 85px;
}

#u1263-4
{
	z-index: 224;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 50px;
}

#u1252
{
	z-index: 209;
	width: 250px;
	background-color: #F8F8F8;
	border-radius: 0px 0px 3px 3px ;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	padding: 25px 10px 31px;
}

#u1265-4
{
	z-index: 228;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1254-4
{
	z-index: 232;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u1256-4
{
	z-index: 236;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u1255-4
{
	z-index: 240;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u1253-4
{
	z-index: 244;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#buttonu1261
{
	z-index: 248;
	width: 231px;
	border-color: #787878;
	background-color: #222222;
	border-radius: 3px;
	padding-bottom: 14px;
	margin-left: 10px;
	margin-top: 25px;
	position: relative;
}

#buttonu1261:hover
{
	background-color: #333333;
	width: 231px;
	min-height: 0px;
	margin: 25px 0px 0px 10px;
}

#buttonu1230.ButtonSelected,#buttonu1246.ButtonSelected,#buttonu1261.ButtonSelected
{
	background-color: #222222;
	width: 231px;
	min-height: 0px;
	margin: 25px 0px 0px 10px;
}

#u1262-4
{
	z-index: 249;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 56px;
}

#buttonu1246.ButtonSelected #u1247-4,#buttonu1261:hover #u1262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 13px -10000px 0px 0px;
}

#buttonu1261.ButtonSelected #u1262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 13px -10000px 0px 0px;
}

#buttonu1261:hover #u1262-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1266-4
{
	z-index: 253;
	width: 535px;
	min-height: 50px;
	background-color: transparent;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 333px;
	margin-top: 51px;
	position: relative;
}

#pu1267
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 99px;
}

#u1267
{
	z-index: 49;
	min-height: 814.9749999999995px;
	padding-bottom: 0px;
	background: transparent url("../images/support_bg.jpg") no-repeat center bottom;
	background-size: cover;
}

#u226_align_to_page,#u681_align_to_page,#u820_align_to_page,#u1037_align_to_page,#u1267_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
}

#u1267_position_content
{
	padding-bottom: 624px;
}

#review,#fact,#demo,#support
{
	left: 689px;
	position: relative;
}

#u1272
{
	z-index: 100;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	left: 515px;
	margin-top: 82px;
	position: relative;
}

#u1273-4
{
	z-index: 101;
	width: 370px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1274-4
{
	z-index: 105;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 35px;
	margin-top: 20px;
	position: relative;
}

#u1267-bw
{
	z-index: 49;
	min-height: 814.9749999999995px;
}

#widgetu1275
{
	z-index: 50;
	width: 0.01px;
	height: 496px;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
	left: 400px;
}

#widgetu1297
{
	z-index: 51;
	width: 600px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu1297.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 600px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1300-4
{
	z-index: 52;
	width: 568px;
	min-height: 18px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
	padding: 16px;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.3);
}

#widgetu1278
{
	z-index: 56;
	width: 600px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
}

#widgetu1278.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 600px;
	height: 50px;
	min-height: 0px;
	margin: 69px -10000px 0px 0px;
}

#u1280-4
{
	z-index: 57;
	width: 568px;
	min-height: 18px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
	padding: 16px;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.3);
}

#u1291-4
{
	z-index: 61;
	width: 370px;
	min-height: 46px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 446px;
	left: 115px;
}

#widgetu1275.frm-sub-st #u1291-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1277-4
{
	z-index: 65;
	width: 370px;
	min-height: 46px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #FF0000;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 446px;
	left: 115px;
}

#widgetu1275.frm-subm-err-st #u1277-4 p
{
	color: #FF0000;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1286-4
{
	z-index: 69;
	width: 370px;
	min-height: 46px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	text-align: left;
	color: #00FF00;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 446px;
	left: 115px;
}

#widgetu1275.frm-sub-st #u1291-4,#widgetu1275.frm-subm-err-st #u1277-4,#widgetu1275.frm-subm-ok-st #u1286-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 50px;
}

#widgetu1041.frm-subm-ok-st #u1051-4 p,#widgetu1275.frm-subm-ok-st #u1286-4 p
{
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1276-17
{
	z-index: 73;
	min-height: 55px;
	width: 225px;
	position: relative;
	margin-right: -10000px;
	margin-top: 372px;
	left: 187px;
	background: url("../images/u1276-17.png") no-repeat 0px 0px;
}

#u1276-17:hover
{
	background: url("../images/u1276-17-r.png") no-repeat 0px 0px;
}

#u1276-17:active
{
	background: url("../images/u1276-17-m.png") no-repeat 0px 0px;
}

#widgetu1275.frm-sub-st #u1276-17
{
	background: url("../images/u1276-17-fs.png") no-repeat 0px 0px;
}

#widgetu1287
{
	z-index: 90;
	width: 600px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
}

#widgetu1287.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 600px;
	height: 144px;
	min-height: 0px;
	margin: 209px -10000px 0px 0px;
}

#u1288-4
{
	z-index: 91;
	width: 568px;
	min-height: 112px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
	padding: 16px;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.3);
}

#widgetu1287.fld-err-st #u1288-4
{
	border-color: #D7244C;
	padding-top: 16px;
	padding-bottom: 16px;
	min-height: 112px;
	width: 568px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1287_input,#widgetu1287_prompt
{
	width: 568px;
	min-height: 112px;
	color: #FFFFFF;
	text-align: left;
	letter-spacing: 1px;
	font-family: coda, sans-serif;
	font-weight: 400;
	padding: 16px;
}

#widgetu1282
{
	z-index: 95;
	width: 600px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
}

#widgetu1282.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 600px;
	height: 50px;
	min-height: 0px;
	margin: 139px -10000px 0px 0px;
}

#u1283-4
{
	z-index: 96;
	width: 568px;
	min-height: 18px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
	padding: 16px;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.3);
}

#widgetu1297.fld-err-st #u1300-4,#widgetu1278.fld-err-st #u1280-4,#widgetu1282.fld-err-st #u1283-4
{
	border-color: #D7244C;
	padding-top: 16px;
	padding-bottom: 16px;
	min-height: 18px;
	width: 568px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1297.fld-err-st #u1300-4 *,#widgetu1278.fld-err-st #u1280-4 *,#widgetu1287.fld-err-st #u1288-4 *,#widgetu1282.fld-err-st #u1283-4 *
{
	color: #D7244C;
}

#widgetu1297_input,#widgetu1297_prompt,#widgetu1278_input,#widgetu1278_prompt,#widgetu1282_input,#widgetu1282_prompt
{
	width: 568px;
	min-height: 18px;
	color: #FFFFFF;
	text-align: left;
	letter-spacing: 1px;
	font-family: coda, sans-serif;
	font-weight: 400;
	padding: 16px;
}

#widgetu1297.fld-err-st #widgetu1297_input,#widgetu1297.fld-err-st #widgetu1297_prompt,#widgetu1278.fld-err-st #widgetu1278_input,#widgetu1278.fld-err-st #widgetu1278_prompt,#widgetu1287.fld-err-st #widgetu1287_input,#widgetu1287.fld-err-st #widgetu1287_prompt,#widgetu1282.fld-err-st #widgetu1282_input,#widgetu1282.fld-err-st #widgetu1282_prompt
{
	padding-top: 16px;
	padding-bottom: 16px;
}

#widgetu1046.non-empty-st #widgetu1046_prompt,#widgetu1297.non-empty-st #widgetu1297_prompt,#widgetu1278.non-empty-st #widgetu1278_prompt,#widgetu1287.non-empty-st #widgetu1287_prompt,#widgetu1282.non-empty-st #widgetu1282_prompt
{
	visibility: hidden;
}

#pu226,#pu1303
{
	width: 0.01px;
	margin-left: -100px;
}

#u1303
{
	z-index: 3;
	min-height: 104px;
	padding-bottom: 147px;
}

#u1477
{
	z-index: 8;
	width: 200px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 600px;
}

#u1303-bw
{
	z-index: 3;
	min-height: 104px;
}

#pamphletu1546
{
	z-index: 9;
	width: 0.01px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 139px;
	left: 550px;
}

#u1556popup
{
	z-index: 10;
}

#u1557
{
	z-index: 11;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u1558
{
	z-index: 12;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u1560
{
	z-index: 13;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u1561
{
	z-index: 14;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u1551
{
	z-index: 15;
	width: 75px;
	margin-right: -10000px;
}

#u1552
{
	width: 75px;
	height: 75px;
}

.ie #u919.PamphletThumbSelected,.ie #u1552
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1552:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1552:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1552.PamphletThumbSelected
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1553
{
	width: 45px;
	height: 45px;
	top: 15px;
	left: 15px;
}

#pamphletu1563
{
	z-index: 18;
	width: 0.01px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 139px;
	left: 625px;
}

#u1570popup
{
	z-index: 19;
}

#u1570
{
	width: 45px;
	top: 14px;
	left: 16px;
}

#u1574
{
	z-index: 20;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u1575
{
	z-index: 21;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u1571
{
	z-index: 22;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u1572
{
	z-index: 23;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u1577
{
	z-index: 24;
	width: 75px;
	margin-right: -10000px;
}

#u1578
{
	width: 75px;
	height: 75px;
}

.ie #u1552.PamphletThumbSelected,.ie #u1553,.ie #u1578
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1578:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1578:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1578.PamphletThumbSelected
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1579
{
	width: 45px;
	height: 45px;
	top: 15px;
	left: 15px;
}

#pamphletu1580
{
	z-index: 27;
	width: 0.01px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 139px;
	left: 700px;
}

#u1581popup
{
	z-index: 28;
}

#u1582
{
	z-index: 29;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u1583
{
	z-index: 30;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u1585
{
	z-index: 31;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u1586
{
	z-index: 32;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u1594
{
	z-index: 33;
	width: 75px;
	margin-right: -10000px;
}

#u1596
{
	width: 75px;
	height: 75px;
}

.ie #u1578.PamphletThumbSelected,.ie #u1579,.ie #u1596
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1596:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1596:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1596.PamphletThumbSelected
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1595
{
	width: 45px;
	height: 45px;
	top: 15px;
	left: 15px;
}

#pamphletu1597
{
	z-index: 36;
	width: 0.01px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 139px;
	left: 775px;
}

#u1598popup
{
	z-index: 37;
}

#u1556,#u1581,#u1598
{
	width: 45px;
	top: 14px;
	left: 15px;
}

#u1602
{
	z-index: 38;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u1603
{
	z-index: 39;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u1599
{
	z-index: 40;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u1600
{
	z-index: 41;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u1611
{
	z-index: 42;
	width: 75px;
	margin-right: -10000px;
}

#u1613
{
	width: 75px;
	height: 75px;
}

.ie #u1596.PamphletThumbSelected,.ie #u1595,.ie #u1613
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1613:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1613:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1613.PamphletThumbSelected
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1612
{
	width: 45px;
	height: 45px;
	top: 15px;
	left: 15px;
}

.ie #u1613.PamphletThumbSelected,.ie #u1612
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1650-4
{
	z-index: 45;
	width: 250px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 92px;
	left: 575px;
}

#u1966
{
	z-index: 2;
	min-height: 57px;
	padding-bottom: 27px;
}

#u1303_align_to_page,#u1966_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u1304-4
{
	z-index: 4;
	width: 400px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 500px;
}

#u1966-bw
{
	z-index: 2;
	min-height: 57px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-bottom: 335px;
}

#page .verticalspacer
{
	clear: both;
}

