#u1944.PamphletThumbSelected,#u1952.PamphletThumbSelected,#u1901.PamphletThumbSelected,#u1920.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
}

#u1828
{
	border-style: solid;
	border-color: #FD419B;
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border-width: 0px 0px 1px;
	-pie-background: rgba(0,0,0,0.5);
}

.js #u1828.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1892
{
	position: fixed;
	background: transparent url("../../images/logo2.png") no-repeat center center;
}

#menuu1829
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u1845
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1848-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1838
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1841-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1833
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1836-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1880
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1883-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1852
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1854-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1868
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1871-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1875
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1878-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1844,#u1837,#u1830,#u1879,#u1851,#u1865,#u1872,#u1858
{
	background-color: transparent;
	position: relative;
}

#u1861
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1864-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1845.MuseMenuActive #u1848-4 p,#u1838.MuseMenuActive #u1841-4 p,#u1833.MuseMenuActive #u1836-4 p,#u1880.MuseMenuActive #u1883-4 p,#u1852.MuseMenuActive #u1854-4 p,#u1868.MuseMenuActive #u1871-4 p,#u1875.MuseMenuActive #u1878-4 p,#u1861.MuseMenuActive #u1864-4 p
{
	color: #FD419B;
	visibility: inherit;
	font-weight: normal;
}

#u1886,#u1888,#u1890
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	line-height: 17px;
	position: fixed;
}

#u1893
{
	background-color: #000000;
}

#u1895
{
	position: relative;
	background: transparent url("../../images/logo2.png") no-repeat center center;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u1904,#u1921,#u1931,#u1953
{
	position: absolute;
	background-color: transparent;
}

#u1906,#u1926,#u1933,#u1955
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
}

#u1905,#u1908,#u1925,#u1922,#u1932,#u1935,#u1954,#u1957
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1909,#u1923,#u1936,#u1958
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
}

#pamphletu1896,#u1899,#pamphletu1913,#u1918,#pamphletu1930,#u1942,#pamphletu1947,#u1950
{
	position: relative;
}

#u1901,#u1920,#u1944,#u1952
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1901:hover,#u1920:hover,#u1944:hover,#u1952:hover
{
	border-color: #999999;
}

#u1900,#u1919,#u1943,#u1951
{
	position: absolute;
}

#u1964-4
{
	background-color: transparent;
	line-height: 18px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1965
{
	background-color: #222222;
}

#u1894-4
{
	background-color: transparent;
	line-height: 18px;
	font-size: 12px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

