#u2592-4
{
	font-family: coda-n4, sans-serif;
}

#u2629-4
{
	font-family: coda-n4, sans-serif;
}

#u2615-4
{
	font-family: coda-n4, sans-serif;
}

#u2601-4
{
	font-family: coda-n4, sans-serif;
}

#u2623-4
{
	font-family: coda-n4, sans-serif;
}

#u2608-4
{
	font-family: coda-n4, sans-serif;
}

#u2637-4
{
	font-family: coda-n4, sans-serif;
}

#u2646-4
{
	font-family: coda-n4, sans-serif;
}

#u2727-4,#u2657-4
{
	font-family: open-sans-n3, sans-serif;
}

#u2730-4,#u2759-4,#u2820-4,#u2751-4,#u2822-4,#u2824-4,#u2829-4,#u2881-4,#u2851-4,#u2866-4,#u2893-4,#u2901-4,#u2906-4,#u2908-4,#u2916-4,#u2918-4,#u2920-4,#u2925-4,#u2932-4,#u2927-4,#u2938-4,#u2939-4,#u2941-4,#u2942-4,#u2950-4,#u2982-4,#u2980-4,#u2968-4,#u2965-4,#u2975-4,#u2973-4,#u2986-4,#u2989-4,#u2954-4
{
	font-family: coda-n4, sans-serif;
}

#u2961-4
{
	font-family: coda-n4, sans-serif;
}

#u2731-6,#u2883-4,#u2850-4,#u2865-4,#u2896-4,#u2947-4,#u3016-4,#u3022-4,#u3047-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu3046_input,#widgetu3046_prompt
{
	font-family: open-sans, sans-serif;
}

#u3058-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3081-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2869-4,#u2852-4,#u2854-4,#u3060-4,#u3073-4,#u3096-4
{
	font-family: open-sans-i4, sans-serif;
}

#u3094-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3056-4,#u3061-4,#u3067-4,#u3055-4,#u3064-4,#u3068-4,#u3066-4,#u3072-4,#u3082-4,#u3075-4,#u3083-4,#u3079-4,#u3076-4,#u3070-4,#u3092-4,#u3088-4,#u3097-4,#u3085-4,#u3086-4,#u3095-4,#u3089-4,#u3099-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2758-4,#u2828-4,#u2894-4,#u2951-4,#u3041-4,#u3053-4,#u3124-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3015-4,#u3020-6,#u3040-4,#u3052-4,#u3063-4,#u3078-4,#u3090-4,#u3123-4,#u3120-4
{
	font-family: coda-n4, sans-serif;
}

#u3114-4
{
	font-family: coda-n4, sans-serif;
}

#u3117-4
{
	font-family: raleway-n4, sans-serif;
}

#u3102-4
{
	font-family: raleway-n4, sans-serif;
}

#u3115-4
{
	font-family: raleway-n4, sans-serif;
}

#u3106-4
{
	font-family: coda-n4, sans-serif;
}

#u3108-4
{
	font-family: coda-n4, sans-serif;
}

#widgetu3118_input,#widgetu3118_prompt,#widgetu3111_input,#widgetu3111_prompt,#widgetu3103_input,#widgetu3103_prompt,#widgetu3107_input,#widgetu3107_prompt
{
	font-family: coda, sans-serif;
}

