.version.index /* version checker */
{
	color: #0000F1;
	background-color: #33C077;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #111111;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 499px;
	background-image: none;
	border-style: none;
	border-color: #FFFFFF;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -335px;
	width: 0.01px;
}

#accordionu2586
{
	z-index: 635;
}

#u2587
{
	z-index: 636;
}

#u2632-3
{
	z-index: 637;
	min-height: 50px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2632-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	margin: 0px;
}

#u2588
{
	z-index: 640;
}

#u2592-4
{
	min-height: 14px;
	top: 11px;
}

#u2591:hover #u2592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u2591
{
	padding-bottom: 22px;
}

#u2591:hover
{
	min-height: 0px;
	margin: 0px;
}

#u2629-4
{
	min-height: 14px;
	top: 11px;
}

#u2591.MuseMenuActive #u2592-4,#u2626:hover #u2629-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u2626
{
	padding-bottom: 22px;
}

#u2591.MuseMenuActive,#u2626:hover
{
	min-height: 0px;
	margin: 0px;
}

#u2615-4
{
	min-height: 14px;
	top: 11px;
}

#u2626.MuseMenuActive #u2629-4,#u2612:hover #u2615-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u2612
{
	padding-bottom: 22px;
}

#u2626.MuseMenuActive,#u2612:hover
{
	min-height: 0px;
	margin: 0px;
}

#u2601-4
{
	min-height: 14px;
	top: 11px;
}

#u2612.MuseMenuActive #u2615-4,#u2598:hover #u2601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u2598
{
	padding-bottom: 22px;
}

#u2612.MuseMenuActive,#u2598:hover
{
	min-height: 0px;
	margin: 0px;
}

#u2623-4
{
	min-height: 14px;
	top: 11px;
}

#u2598.MuseMenuActive #u2601-4,#u2621:hover #u2623-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u2621
{
	padding-bottom: 22px;
}

#u2598.MuseMenuActive,#u2621:hover
{
	min-height: 0px;
	margin: 0px;
}

#u2608-4
{
	min-height: 14px;
	top: 11px;
}

#u2621.MuseMenuActive #u2623-4,#u2605:hover #u2608-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u2605
{
	padding-bottom: 22px;
}

#u2621.MuseMenuActive,#u2605:hover
{
	min-height: 0px;
	margin: 0px;
}

#u2637-4
{
	min-height: 14px;
	top: 10px;
}

#u2605.MuseMenuActive #u2608-4,#u2636:hover #u2637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u2636
{
	padding-bottom: 21px;
}

#u2605.MuseMenuActive,#u2636:hover
{
	min-height: 0px;
	margin: 0px;
}

#u2646-4
{
	min-height: 14px;
	top: 10px;
}

#u2636.MuseMenuActive #u2637-4,#u2643:hover #u2646-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u2643.MuseMenuActive #u2646-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u2643
{
	padding-bottom: 21px;
}

#u2636.MuseMenuActive,#u2643:hover
{
	min-height: 0px;
	margin: 0px;
}

#u2643.MuseMenuActive
{
	min-height: 0px;
	margin: 0px;
}

#u2625,#u2611,#u2597,#u2618,#u2604,#u2635,#u2642
{
	margin-top: 2px;
}

#menuu2589,#menuu2589-bw
{
	z-index: 641;
	min-height: 300px;
}

#accordionu2586-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 635;
	top: 0px;
}

#u2728
{
	z-index: 621;
	min-height: 427px;
	padding: 129px 19px 144px;
	background: transparent url("../../images/homeslide.jpg") no-repeat center center;
	background-size: cover;
}

#u2729
{
	z-index: 622;
	width: 50px;
	height: 26px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	border-width: 2px 0px 0px;
}

#u2731-6
{
	z-index: 627;
	width: 341px;
	min-height: 52px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 167px;
	position: relative;
}

#u2732
{
	z-index: 633;
	width: 170px;
	height: 61px;
	border-color: #FFFFFF;
	border-radius: 10px;
	margin-top: 39px;
	position: relative;
	background: #000000 url("../../images/iphone%20download.png") no-repeat center center;
	background-size: cover;
}

#u2732:hover
{
	width: 170px;
	height: 61px;
	min-height: 0px;
	margin: 39px 0px 0px;
	background: #222222 url("../../images/iphone%20download.png") no-repeat center center;
	background-size: cover;
}

#u2733
{
	z-index: 634;
	width: 170px;
	height: 61px;
	border-color: #FFFFFF;
	border-radius: 10px;
	margin-top: 20px;
	position: relative;
	background: #000000 url("../../images/android%20download.png") no-repeat center center;
	background-size: cover;
}

#u2733:hover
{
	width: 170px;
	height: 61px;
	min-height: 0px;
	margin: 20px 0px 0px;
	background: #222222 url("../../images/android%20download.png") no-repeat center center;
	background-size: cover;
}

#u2728-bw
{
	z-index: 621;
	min-height: 427px;
}

#u2730-4
{
	z-index: 623;
	width: 341px;
	min-height: 124px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 19px;
}

#pu2634
{
	width: 0.01px;
	padding-bottom: 70px;
	margin-left: 4px;
	margin-top: -700px;
}

#u2634
{
	z-index: 690;
	width: 130px;
	height: 70px;
	top: 0px;
	left: 4px;
}

#u2653
{
	z-index: 691;
	width: 18px;
	min-height: 18px;
	top: 26px;
	left: 336px;
}

#u2757
{
	z-index: 597;
	width: 341px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 20px;
	margin-top: 82px;
	position: relative;
}

#u2759-4
{
	z-index: 598;
	width: 341px;
	min-height: 45px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2758-4
{
	z-index: 602;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u2736
{
	z-index: 590;
	width: 339px;
	height: 204px;
	margin-left: 20px;
	margin-top: 52px;
	position: relative;
	background: transparent url("../../images/features-u2736-fr.png") no-repeat center center;
	background-size: cover;
}

#u2819
{
	z-index: 606;
	width: 89px;
	height: 89px;
	border-width: 3px;
	border-style: solid;
	border-color: #FD419B;
	border-radius: 100px;
	margin-left: 142px;
	margin-top: 25px;
	position: relative;
	background: #333333 url("../../images/features_1-u2819-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2820-4
{
	z-index: 607;
	width: 248px;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 66px;
	margin-top: 18px;
	position: relative;
}

#u2747
{
	z-index: 591;
	width: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 65px;
	margin-top: 47px;
	position: relative;
}

#u2749
{
	z-index: 592;
	width: 89px;
	height: 89px;
	border-width: 3px;
	border-style: solid;
	border-color: #FD419B;
	border-radius: 100px;
	margin-left: 77px;
	position: relative;
	background: #333333 url("../../images/features_2-u2749-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2751-4
{
	z-index: 593;
	width: 249px;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u2821
{
	z-index: 611;
	width: 89px;
	height: 89px;
	border-width: 3px;
	border-style: solid;
	border-color: #FD419B;
	border-radius: 100px;
	margin-left: 142px;
	margin-top: 48px;
	position: relative;
	background: #333333 url("../../images/features_3-u2821-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2822-4
{
	z-index: 612;
	width: 248px;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 66px;
	margin-top: 17px;
	position: relative;
}

#u2823
{
	z-index: 616;
	width: 89px;
	height: 89px;
	border-width: 3px;
	border-style: solid;
	border-color: #FD419B;
	border-radius: 100px;
	margin-left: 142px;
	margin-top: 48px;
	position: relative;
	background: #333333 url("../../images/features_4-u2823-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2824-4
{
	z-index: 617;
	width: 249px;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 65px;
	margin-top: 17px;
	position: relative;
}

#pu2826
{
	width: 0.01px;
	margin-top: 99px;
}

#u2826
{
	z-index: 513;
	min-height: 740px;
	background: transparent url("../../images/review_bg.jpg") no-repeat center center;
	background-size: cover;
}

#u2826_position_content
{
	padding-bottom: 549px;
}

#u2827
{
	z-index: 514;
	width: 341px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 20px;
	margin-top: 82px;
	position: relative;
}

#u2829-4
{
	z-index: 515;
	width: 341px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2828-4
{
	z-index: 519;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u2826-bw
{
	z-index: 513;
	min-height: 740px;
}

#pamphletu2830
{
	z-index: 523;
	width: 0.01px;
	height: 409px;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 20px;
}

#u2837
{
	position: absolute;
	width: 341px;
	background-color: transparent;
}

#u2837popup
{
	z-index: 524;
}

#u2868
{
	z-index: 525;
	width: 340px;
	height: 369px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-right: 1px;
	margin-right: -10000px;
	position: relative;
}

#u2882
{
	z-index: 526;
	width: 73px;
	height: 73px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	margin-left: 133px;
	position: relative;
	background: #333333 url("../../images/review_1-u2882-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2869-4
{
	z-index: 527;
	width: 340px;
	min-height: 140px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 18px;
	position: relative;
}

#u2870
{
	z-index: 540;
	width: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 78px;
	margin-top: 20px;
	position: relative;
}

#u2877
{
	z-index: 541;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2873
{
	z-index: 542;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 38px;
}

#u2875
{
	z-index: 543;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u2879
{
	z-index: 544;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u2871
{
	z-index: 545;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 153px;
}

#u2884
{
	z-index: 539;
	width: 45px;
	height: 13px;
	border-style: solid;
	border-color: #FD419B;
	background-color: transparent;
	margin-left: 148px;
	margin-top: 20px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u2881-4
{
	z-index: 531;
	width: 235px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 53px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u2883-4
{
	z-index: 535;
	width: 235px;
	min-height: 26px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 53px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2838
{
	z-index: 546;
	width: 340px;
	height: 368px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u2848
{
	z-index: 547;
	width: 73px;
	height: 73px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	margin-left: 133px;
	position: relative;
	background: #333333 url("../../images/review_2-u2848-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2852-4
{
	z-index: 548;
	width: 340px;
	min-height: 140px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 18px;
	position: relative;
}

#u2839
{
	z-index: 560;
	width: 145px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 98px;
	margin-top: 20px;
	position: relative;
}

#u2844
{
	z-index: 561;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2840
{
	z-index: 562;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 38px;
}

#u2842
{
	z-index: 563;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u2846
{
	z-index: 564;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u2849
{
	z-index: 565;
	width: 45px;
	height: 10px;
	border-style: solid;
	border-color: #FD419B;
	background-color: transparent;
	margin-left: 148px;
	margin-top: 20px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u2851-4
{
	z-index: 552;
	width: 235px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 53px;
	position: relative;
}

#u2850-4
{
	z-index: 556;
	width: 235px;
	min-height: 26px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 53px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2853
{
	z-index: 566;
	width: 340px;
	height: 368px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u2864
{
	z-index: 567;
	width: 73px;
	height: 73px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	margin-left: 133px;
	position: relative;
	background: #333333 url("../../images/review_3-u2864-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2854-4
{
	z-index: 568;
	width: 340px;
	min-height: 140px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 18px;
	position: relative;
}

#u2855
{
	z-index: 580;
	width: 145px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 98px;
	margin-top: 20px;
	position: relative;
}

#u2858
{
	z-index: 581;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2860
{
	z-index: 582;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 38px;
}

#u2856
{
	z-index: 583;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u2862
{
	z-index: 584;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #F7931E;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u2867
{
	z-index: 585;
	width: 45px;
	height: 10px;
	border-style: solid;
	border-color: #FD419B;
	background-color: transparent;
	margin-left: 149px;
	margin-top: 20px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u2866-4
{
	z-index: 572;
	width: 235px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 54px;
	position: relative;
}

#u2865-4
{
	z-index: 576;
	width: 235px;
	min-height: 26px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 54px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2831
{
	z-index: 586;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 393px;
	left: 138px;
}

#u2834
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
}

#u2834:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u2832
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	left: 25px;
}

#u2832:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u2833
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	left: 50px;
}

#u2833:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u2834.PamphletThumbSelected,#u2832.PamphletThumbSelected,#u2833.PamphletThumbSelected
{
	border-style: none;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 100px;
	width: 15px;
	height: 15px;
	min-height: 2px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u2895
{
	z-index: 480;
	width: 340px;
	height: 360px;
	margin-left: 20px;
	margin-top: 82px;
	position: relative;
	background: transparent url("../../images/about_img-u2895-fr.png") no-repeat center center;
	background-size: cover;
}

#u2892
{
	z-index: 471;
	width: 341px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 20px;
	margin-top: 42px;
	position: relative;
}

#u2893-4
{
	z-index: 472;
	width: 341px;
	min-height: 45px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2894-4
{
	z-index: 476;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u2896-4
{
	z-index: 481;
	width: 341px;
	min-height: 90px;
	background-color: transparent;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 35px;
	position: relative;
}

#u2897
{
	z-index: 485;
	width: 324px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 28px;
	margin-top: 28px;
	position: relative;
}

#u2898
{
	z-index: 486;
	width: 46px;
	border-color: #333333;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u2899
{
	z-index: 487;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u2901-4
{
	z-index: 488;
	width: 254px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 70px;
}

#u2902
{
	z-index: 492;
	width: 324px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 28px;
	margin-top: 22px;
	position: relative;
}

#u2905
{
	z-index: 493;
	width: 46px;
	border-color: #333333;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u2903
{
	z-index: 494;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u2906-4
{
	z-index: 495;
	width: 254px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 70px;
}

#u2907
{
	z-index: 499;
	width: 324px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 28px;
	margin-top: 22px;
	position: relative;
}

#u2909
{
	z-index: 500;
	width: 46px;
	border-color: #333333;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u2910
{
	z-index: 501;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u2908-4
{
	z-index: 502;
	width: 254px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 70px;
}

#u2912
{
	z-index: 506;
	width: 324px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 28px;
	margin-top: 22px;
	position: relative;
}

#u2915
{
	z-index: 507;
	width: 46px;
	border-color: #333333;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u2913
{
	z-index: 508;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u2916-4
{
	z-index: 509;
	width: 254px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 70px;
}

#u2917
{
	z-index: 413;
	min-height: 1102.7999999999997px;
	padding-bottom: 0px;
	background: transparent url("../../images/fact_bg.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2918-4
{
	z-index: 414;
	width: 340px;
	min-height: 122px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 82px;
	position: relative;
}

#u2947-4
{
	z-index: 466;
	width: 340px;
	min-height: 70px;
	background-color: transparent;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 19px;
	margin-top: 31px;
	position: relative;
}

#u2919
{
	z-index: 418;
	width: 228px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 76px;
	margin-top: 31px;
	position: relative;
}

#u2921
{
	z-index: 423;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u2924
{
	z-index: 424;
	width: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #F0F0F0;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u2922
{
	z-index: 425;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u2920-4
{
	z-index: 426;
	width: 158px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2925-4
{
	z-index: 419;
	width: 158px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2926
{
	z-index: 430;
	width: 228px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 76px;
	margin-top: 27px;
	position: relative;
}

#u2928
{
	z-index: 435;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u2931
{
	z-index: 436;
	width: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #F0F0F0;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u2929
{
	z-index: 437;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u2932-4
{
	z-index: 438;
	width: 158px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2927-4
{
	z-index: 431;
	width: 158px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2933
{
	z-index: 442;
	width: 228px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 76px;
	margin-top: 26px;
	position: relative;
}

#u2934
{
	z-index: 447;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u2937
{
	z-index: 448;
	width: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #F0F0F0;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u2935
{
	z-index: 449;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#pu2920-4,#pu2938-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 70px;
}

#u2938-4
{
	z-index: 450;
	width: 158px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2939-4
{
	z-index: 443;
	width: 158px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2940
{
	z-index: 454;
	width: 228px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 76px;
	margin-top: 27px;
	position: relative;
}

#u2943
{
	z-index: 459;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u2946
{
	z-index: 460;
	width: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #F0F0F0;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u2944
{
	z-index: 461;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FD419B;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#pu2932-4,#pu2941-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 70px;
}

#u2941-4
{
	z-index: 462;
	width: 158px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2942-4
{
	z-index: 455;
	width: 158px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2948
{
	z-index: 470;
	width: 340px;
	height: 358px;
	margin-left: 20px;
	margin-top: 43px;
	position: relative;
	background: transparent url("../../images/fact_img-u2948-fr.png") no-repeat center center;
	background-size: cover;
}

#u2917-bw
{
	z-index: 413;
	min-height: 1102.7999999999997px;
	margin-top: 100px;
}

#u2949
{
	z-index: 327;
	width: 341px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 20px;
	margin-top: 83px;
	position: relative;
}

#u2950-4
{
	z-index: 328;
	width: 341px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2951-4
{
	z-index: 332;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#pamphletu2952
{
	z-index: 336;
	width: 0.01px;
	height: 44px;
	padding-bottom: 553px;
	margin-left: 35px;
	position: relative;
}

#u2955
{
	z-index: 337;
	width: 310px;
	position: relative;
	margin-right: -10000px;
}

#u2957
{
	position: absolute;
	width: 27px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u2957
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2957:hover
{
	border-color: #999999;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2957:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2957.PamphletThumbSelected
{
	border-color: #DEDEDE;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

#u2956
{
	position: absolute;
	width: 27px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 1px;
	left: 40px;
}

.ie #u2957.PamphletThumbSelected,.ie #u2956
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2956:hover
{
	border-color: #999999;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2956:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2956.PamphletThumbSelected
{
	border-color: #DEDEDE;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

#u2959
{
	position: absolute;
	width: 27px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: 81px;
}

.ie #u2956.PamphletThumbSelected,.ie #u2959
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2959:hover
{
	border-color: #999999;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2959:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2959.PamphletThumbSelected
{
	border-color: #DEDEDE;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

#u2958
{
	position: absolute;
	width: 27px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 1px;
	left: 121px;
}

.ie #u2959.PamphletThumbSelected,.ie #u2958
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2958:hover
{
	border-color: #999999;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2958:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2958.PamphletThumbSelected
{
	border-color: #DEDEDE;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

#u2993
{
	position: absolute;
	width: 27px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: 162px;
}

.ie #u2958.PamphletThumbSelected,.ie #u2993
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2993:hover
{
	border-color: #999999;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2993:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2993.PamphletThumbSelected
{
	border-color: #DEDEDE;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

#u2998
{
	position: absolute;
	width: 27px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 1px;
	left: 202px;
}

.ie #u2993.PamphletThumbSelected,.ie #u2998
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2998:hover
{
	border-color: #999999;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2998:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2998.PamphletThumbSelected
{
	border-color: #DEDEDE;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

#u3003
{
	position: absolute;
	width: 27px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 1px;
	left: 243px;
}

.ie #u2998.PamphletThumbSelected,.ie #u3003
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3003:hover
{
	border-color: #999999;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u3003:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3003.PamphletThumbSelected
{
	border-color: #DEDEDE;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

#u3008
{
	position: absolute;
	width: 27px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 1px;
	left: 283px;
}

.ie #u3003.PamphletThumbSelected,.ie #u3008
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3008:hover
{
	border-color: #999999;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u3008:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3008.PamphletThumbSelected
{
	border-color: #DEDEDE;
	width: 27px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

#u2962
{
	position: absolute;
	width: 310px;
	background-color: transparent;
	top: 46px;
}

#u2962popup
{
	z-index: 346;
}

#u2977
{
	z-index: 347;
	width: 310px;
	height: 500px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2981
{
	z-index: 348;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 20px;
}

#u2983
{
	z-index: 349;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../../images/screen_1.jpg") no-repeat center center;
	background-size: cover;
}

#u2982-4
{
	z-index: 350;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2963
{
	z-index: 354;
	width: 310px;
	height: 500px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2978
{
	z-index: 355;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 20px;
}

#u2979
{
	z-index: 356;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../../images/screen_2.jpg") no-repeat center center;
	background-size: cover;
}

#u2980-4
{
	z-index: 357;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2970
{
	z-index: 361;
	width: 310px;
	height: 500px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2967
{
	z-index: 362;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 20px;
}

#u2969
{
	z-index: 363;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../../images/screen_3.jpg") no-repeat center center;
	background-size: cover;
}

#u2968-4
{
	z-index: 364;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2984
{
	z-index: 368;
	width: 310px;
	height: 500px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2964
{
	z-index: 369;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 20px;
}

#u2966
{
	z-index: 370;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../../images/screen_4.jpg") no-repeat center center;
	background-size: cover;
}

#u2965-4
{
	z-index: 371;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2994
{
	z-index: 375;
	width: 310px;
	height: 500px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2974
{
	z-index: 376;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 20px;
}

#u2976
{
	z-index: 377;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../../images/screen_6.jpg") no-repeat center center;
	background-size: cover;
}

#u2975-4
{
	z-index: 378;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2999
{
	z-index: 382;
	width: 310px;
	height: 500px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2971
{
	z-index: 383;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 20px;
}

#u2972
{
	z-index: 384;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../../images/screen_5.jpg") no-repeat center center;
	background-size: cover;
}

#u2973-4
{
	z-index: 385;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u3004
{
	z-index: 389;
	width: 310px;
	height: 500px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2985
{
	z-index: 390;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 20px;
}

#u2987
{
	z-index: 391;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../../images/screen_7.jpg") no-repeat center center;
	background-size: cover;
}

#u2986-4
{
	z-index: 392;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u3009
{
	z-index: 396;
	width: 310px;
	height: 500px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2988
{
	z-index: 397;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 20px;
}

#u2990
{
	z-index: 398;
	width: 224px;
	height: 402px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	margin-left: 15px;
	position: relative;
	background: transparent url("../../images/screen_8.jpg") no-repeat center center;
	background-size: cover;
}

#u2989-4
{
	z-index: 399;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #CCCCCC;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2953
{
	position: absolute;
	width: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #FD419B;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	border-radius: 2px;
	padding-bottom: 12px;
	top: 553px;
	left: 40px;
}

#u2954-4
{
	z-index: 404;
	width: 74px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u2960
{
	position: absolute;
	width: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #FD419B;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	border-radius: 2px;
	padding-bottom: 12px;
	top: 553px;
	left: 170px;
}

#u2953:hover,#u2960:hover
{
	border-color: #FD419B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u2961-4
{
	z-index: 409;
	width: 74px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u2954-4:hover,#u2961-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 74px;
	margin: 12px -10000px 0px 0px;
}

#u2954-4:hover p,#u2961-4:hover p
{
	color: #FD419B;
	visibility: inherit;
}

#u3013
{
	z-index: 315;
	min-height: 491px;
	background: transparent url("../../images/video_bg.jpg") no-repeat center bottom;
	background-size: cover;
}

#u3013_position_content
{
	padding-bottom: 79px;
}

#u3014
{
	z-index: 316;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 5px;
	margin-top: 82px;
	position: relative;
}

#u3015-4
{
	z-index: 317;
	width: 370px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3016-4
{
	z-index: 321;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 35px;
	margin-top: 20px;
	position: relative;
}

#u3017
{
	z-index: 325;
	width: 371px;
	padding-bottom: 19px;
	margin-left: 5px;
	margin-top: 26px;
	position: relative;
	background: transparent url("../../images/video_img.png") no-repeat center center;
	background-size: cover;
}

#u3018
{
	z-index: 326;
	width: 280px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 45px;
}

#u3013-bw
{
	z-index: 315;
	min-height: 491px;
	margin-top: 100px;
}

#u3020-6
{
	z-index: 302;
	width: 342px;
	min-height: 90px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 19px;
	margin-top: 100px;
	position: relative;
}

#u3022-4
{
	z-index: 309;
	width: 340px;
	min-height: 90px;
	background-color: transparent;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 42px;
	position: relative;
}

#u3023
{
	z-index: 313;
	width: 168px;
	height: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #FD419B;
	border-radius: 10px;
	margin-left: 105px;
	margin-top: 24px;
	position: relative;
	background: transparent url("../../images/iphone%20download.png") no-repeat center center;
	background-size: cover;
}

#u3023:hover
{
	border-style: none;
	width: 170px;
	height: 61px;
	min-height: 2px;
	margin: 24px 0px 0px 105px;
	background: #000000 url("../../images/iphone%20download.png") no-repeat center center;
	background-size: cover;
}

#u3024
{
	z-index: 314;
	width: 168px;
	height: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #FD419B;
	border-radius: 10px;
	margin-left: 105px;
	margin-top: 19px;
	position: relative;
	background: transparent url("../../images/android%20download.png") no-repeat center center;
	background-size: cover;
}

#u3024:hover
{
	border-style: none;
	width: 170px;
	height: 61px;
	min-height: 2px;
	margin: 19px 0px 0px 105px;
	background: #000000 url("../../images/android%20download.png") no-repeat center center;
	background-size: cover;
}

#u3021
{
	z-index: 308;
	width: 340px;
	height: 382px;
	margin-left: 19px;
	margin-top: 45px;
	position: relative;
	background: transparent url("../../images/download_img-u3021-fr.png") no-repeat center center;
	background-size: cover;
}

#u3038
{
	z-index: 257;
	min-height: 191px;
	padding-bottom: 248px;
	background: transparent url("../../images/subscribe_bg.jpg") no-repeat center bottom;
	background-size: cover;
}

#u3039
{
	z-index: 258;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 5px;
}

#u3040-4
{
	z-index: 259;
	width: 370px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3041-4
{
	z-index: 263;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 35px;
	margin-top: 20px;
	position: relative;
}

#u3038-bw
{
	z-index: 257;
	min-height: 191px;
}

#widgetu3042
{
	z-index: 267;
	width: 0.01px;
	height: 92px;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	left: 19px;
}

#widgetu3046
{
	z-index: 268;
	width: 341px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu3046.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 341px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3047-4
{
	z-index: 269;
	width: 303px;
	min-height: 22px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	padding: 14px 14px 14px 24px;
	-pie-background: rgba(255,255,255,0.3);
}

#widgetu3046.fld-err-st #u3047-4
{
	border-color: #D7244C;
	padding-top: 14px;
	padding-bottom: 14px;
	min-height: 22px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3046.non-empty-st #u3047-4 *
{
	color: #FFFFFF;
}

#widgetu3046.fld-err-st #u3047-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu3046_input,#widgetu3046_prompt
{
	width: 303px;
	min-height: 22px;
	color: #FFFFFF;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	padding: 14px 14px 14px 24px;
}

#widgetu3046.fld-err-st #widgetu3046_input,#widgetu3046.fld-err-st #widgetu3046_prompt
{
	padding-top: 14px;
	padding-bottom: 14px;
}

#u3044-4
{
	z-index: 273;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 71px;
}

#widgetu3042.frm-sub-st #u3044-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3043-4
{
	z-index: 277;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 71px;
}

#widgetu3042.frm-subm-err-st #u3043-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3045-4
{
	z-index: 281;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 71px;
}

#widgetu3042.frm-sub-st #u3044-4,#widgetu3042.frm-subm-err-st #u3043-4,#widgetu3042.frm-subm-ok-st #u3045-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#u3050-17
{
	z-index: 285;
	min-height: 50px;
	width: 85px;
	position: relative;
	margin-right: -10000px;
	left: 256px;
	background: url("../../images/u3050-17.png") no-repeat 0px 0px;
}

#u3050-17:hover
{
	background: url("../../images/u3050-17-r.png") no-repeat 0px 0px;
}

#u3050-17:active
{
	background: url("../../images/u3050-17-m.png") no-repeat 0px 0px;
}

#widgetu3042.frm-sub-st #u3050-17
{
	background: url("../../images/u3050-17-fs.png") no-repeat 0px 0px;
}

#u3051
{
	z-index: 109;
	width: 341px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 19px;
	margin-top: 82px;
	position: relative;
}

#u3052-4
{
	z-index: 110;
	width: 341px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3053-4
{
	z-index: 114;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u3054
{
	z-index: 118;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 57px;
	margin-top: 50px;
	position: relative;
}

#u3059
{
	z-index: 121;
	width: 270px;
	background-color: #333333;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 13px;
	position: relative;
}

#u3063-4
{
	z-index: 122;
	width: 201px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 35px;
}

#u3062
{
	z-index: 120;
	width: 270px;
	background-color: #FD419B;
	padding-bottom: 63px;
	position: relative;
	margin-right: -10000px;
}

#u3056-4
{
	z-index: 126;
	width: 35px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: right;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 50px;
}

#u3061-4
{
	z-index: 130;
	width: 101px;
	min-height: 63px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 85px;
}

#u3060-4
{
	z-index: 134;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 50px;
}

#u3065
{
	z-index: 119;
	width: 250px;
	background-color: #F8F8F8;
	border-radius: 0px 0px 3px 3px ;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	padding: 25px 10px 31px;
}

#u3067-4
{
	z-index: 138;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3055-4
{
	z-index: 142;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u3064-4
{
	z-index: 146;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u3068-4
{
	z-index: 150;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u3066-4
{
	z-index: 154;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#buttonu3057
{
	z-index: 158;
	width: 231px;
	border-color: #787878;
	background-color: #222222;
	border-radius: 3px;
	padding-bottom: 14px;
	margin-left: 10px;
	margin-top: 25px;
	position: relative;
}

#buttonu3057:hover
{
	background-color: #333333;
	width: 231px;
	min-height: 0px;
	margin: 25px 0px 0px 10px;
}

#u3058-4
{
	z-index: 159;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 56px;
}

#buttonu3057:hover #u3058-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 13px -10000px 0px 0px;
}

#u3069
{
	z-index: 163;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 55px;
	margin-top: 45px;
	position: relative;
}

#u3071
{
	z-index: 166;
	width: 270px;
	background-color: #333333;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 13px;
	position: relative;
}

#u3078-4
{
	z-index: 167;
	width: 201px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 35px;
}

#u3074
{
	z-index: 165;
	width: 270px;
	background-color: #FD419B;
	padding-bottom: 63px;
	position: relative;
	margin-right: -10000px;
}

#u3072-4
{
	z-index: 171;
	width: 35px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: right;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 50px;
}

#u3082-4
{
	z-index: 175;
	width: 101px;
	min-height: 63px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 85px;
}

#u3073-4
{
	z-index: 179;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 50px;
}

#u3077
{
	z-index: 164;
	width: 250px;
	background-color: #F8F8F8;
	border-radius: 0px 0px 3px 3px ;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	padding: 25px 10px 31px;
}

#u3075-4
{
	z-index: 183;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3083-4
{
	z-index: 187;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u3079-4
{
	z-index: 191;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u3076-4
{
	z-index: 195;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u3070-4
{
	z-index: 199;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#buttonu3080
{
	z-index: 203;
	width: 231px;
	border-color: #787878;
	background-color: #222222;
	border-radius: 3px;
	padding-bottom: 14px;
	margin-left: 10px;
	margin-top: 25px;
	position: relative;
}

#buttonu3080:hover
{
	background-color: #333333;
	width: 231px;
	min-height: 0px;
	margin: 25px 0px 0px 10px;
}

#u3081-4
{
	z-index: 204;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 56px;
}

#buttonu3057.ButtonSelected #u3058-4,#buttonu3080:hover #u3081-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 13px -10000px 0px 0px;
}

#buttonu3080:hover #u3081-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3084
{
	z-index: 208;
	width: 270px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 56px;
	margin-top: 45px;
	position: relative;
}

#u3091
{
	z-index: 211;
	width: 270px;
	background-color: #333333;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 13px;
	position: relative;
}

#u3090-4
{
	z-index: 212;
	width: 201px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 35px;
}

#u3087
{
	z-index: 210;
	width: 270px;
	background-color: #FD419B;
	padding-bottom: 63px;
	position: relative;
	margin-right: -10000px;
}

#u3092-4
{
	z-index: 216;
	width: 35px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: right;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 50px;
}

#u3088-4
{
	z-index: 220;
	width: 101px;
	min-height: 63px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 85px;
}

#u3096-4
{
	z-index: 224;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 50px;
}

#u3098
{
	z-index: 209;
	width: 250px;
	background-color: #F8F8F8;
	border-radius: 0px 0px 3px 3px ;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	padding: 25px 10px 31px;
}

#u3097-4
{
	z-index: 228;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3085-4
{
	z-index: 232;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u3086-4
{
	z-index: 236;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u3095-4
{
	z-index: 240;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u3089-4
{
	z-index: 244;
	width: 250px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#buttonu3093
{
	z-index: 248;
	width: 231px;
	border-color: #787878;
	background-color: #222222;
	border-radius: 3px;
	padding-bottom: 14px;
	margin-left: 10px;
	margin-top: 25px;
	position: relative;
}

#buttonu3093:hover
{
	background-color: #333333;
	width: 231px;
	min-height: 0px;
	margin: 25px 0px 0px 10px;
}

#buttonu3057.ButtonSelected,#buttonu3080.ButtonSelected,#buttonu3093.ButtonSelected
{
	background-color: #222222;
	width: 231px;
	min-height: 0px;
	margin: 25px 0px 0px 10px;
}

#u3094-4
{
	z-index: 249;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 56px;
}

#buttonu3080.ButtonSelected #u3081-4,#buttonu3093:hover #u3094-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 13px -10000px 0px 0px;
}

#buttonu3093.ButtonSelected #u3094-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 13px -10000px 0px 0px;
}

#buttonu3093:hover #u3094-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3099-4
{
	z-index: 253;
	width: 340px;
	min-height: 70px;
	background-color: transparent;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 19px;
	margin-top: 56px;
	position: relative;
}

#pu3038,#pu3100
{
	width: 0.01px;
	margin-top: 100px;
}

#u3100
{
	z-index: 49;
	min-height: 814.949999999988px;
	padding-bottom: 0px;
	background: transparent url("../../images/support_bg.jpg") no-repeat center bottom;
	background-size: cover;
}

#u3100_position_content
{
	padding-bottom: 624px;
}

#features,#review,#about,#fact,#screenshot,#demo,#pricing,#support
{
	margin-left: 179px;
	position: relative;
}

#u3122
{
	z-index: 100;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 6px;
	margin-top: 82px;
	position: relative;
}

#u3123-4
{
	z-index: 101;
	width: 370px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FD419B;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3124-4
{
	z-index: 105;
	width: 300px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 35px;
	margin-top: 20px;
	position: relative;
}

#u3100-bw
{
	z-index: 49;
	min-height: 814.949999999988px;
}

#widgetu3101
{
	z-index: 50;
	width: 0.01px;
	height: 496px;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 35px;
}

#widgetu3118
{
	z-index: 51;
	width: 310px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu3118.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 310px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3120-4
{
	z-index: 52;
	width: 278px;
	min-height: 18px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
	padding: 16px;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.3);
}

#widgetu3111
{
	z-index: 56;
	width: 310px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
}

#widgetu3111.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 310px;
	height: 50px;
	min-height: 0px;
	margin: 69px -10000px 0px 0px;
}

#u3114-4
{
	z-index: 57;
	width: 278px;
	min-height: 18px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
	padding: 16px;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.3);
}

#u3117-4
{
	z-index: 61;
	width: 310px;
	min-height: 46px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 446px;
}

#widgetu3101.frm-sub-st #u3117-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3102-4
{
	z-index: 65;
	width: 310px;
	min-height: 46px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #FF0000;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 446px;
}

#widgetu3101.frm-subm-err-st #u3102-4 p
{
	color: #FF0000;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3115-4
{
	z-index: 69;
	width: 310px;
	min-height: 46px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	text-align: left;
	color: #00FF00;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 446px;
}

#widgetu3101.frm-sub-st #u3117-4,#widgetu3101.frm-subm-err-st #u3102-4,#widgetu3101.frm-subm-ok-st #u3115-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 50px;
}

#widgetu3042.frm-subm-ok-st #u3045-4 p,#widgetu3101.frm-subm-ok-st #u3115-4 p
{
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3116-17
{
	z-index: 73;
	min-height: 55px;
	width: 225px;
	position: relative;
	margin-right: -10000px;
	margin-top: 372px;
	left: 43px;
	background: url("../../images/u3116-17.png") no-repeat 0px 0px;
}

#u3116-17:hover
{
	background: url("../../images/u3116-17-r.png") no-repeat 0px 0px;
}

#u3116-17:active
{
	background: url("../../images/u3116-17-m.png") no-repeat 0px 0px;
}

#widgetu3101.frm-sub-st #u3116-17
{
	background: url("../../images/u3116-17-fs.png") no-repeat 0px 0px;
}

#widgetu3103
{
	z-index: 90;
	width: 310px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
}

#widgetu3103.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 310px;
	height: 144px;
	min-height: 0px;
	margin: 209px -10000px 0px 0px;
}

#u3106-4
{
	z-index: 91;
	width: 278px;
	min-height: 112px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
	padding: 16px;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.3);
}

#widgetu3103.fld-err-st #u3106-4
{
	border-color: #D7244C;
	padding-top: 16px;
	padding-bottom: 16px;
	min-height: 112px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3103_input,#widgetu3103_prompt
{
	width: 278px;
	min-height: 112px;
	color: #FFFFFF;
	text-align: left;
	letter-spacing: 1px;
	font-family: coda, sans-serif;
	font-weight: 400;
	padding: 16px;
}

#widgetu3107
{
	z-index: 95;
	width: 310px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
}

#widgetu3107.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 310px;
	height: 50px;
	min-height: 0px;
	margin: 139px -10000px 0px 0px;
}

#u3108-4
{
	z-index: 96;
	width: 278px;
	min-height: 18px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
	padding: 16px;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.3);
}

#widgetu3118.fld-err-st #u3120-4,#widgetu3111.fld-err-st #u3114-4,#widgetu3107.fld-err-st #u3108-4
{
	border-color: #D7244C;
	padding-top: 16px;
	padding-bottom: 16px;
	min-height: 18px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3118.fld-err-st #u3120-4 *,#widgetu3111.fld-err-st #u3114-4 *,#widgetu3103.fld-err-st #u3106-4 *,#widgetu3107.fld-err-st #u3108-4 *
{
	color: #D7244C;
}

#widgetu3118_input,#widgetu3118_prompt,#widgetu3111_input,#widgetu3111_prompt,#widgetu3107_input,#widgetu3107_prompt
{
	width: 278px;
	min-height: 18px;
	color: #FFFFFF;
	text-align: left;
	letter-spacing: 1px;
	font-family: coda, sans-serif;
	font-weight: 400;
	padding: 16px;
}

#widgetu3118.fld-err-st #widgetu3118_input,#widgetu3118.fld-err-st #widgetu3118_prompt,#widgetu3111.fld-err-st #widgetu3111_input,#widgetu3111.fld-err-st #widgetu3111_prompt,#widgetu3103.fld-err-st #widgetu3103_input,#widgetu3103.fld-err-st #widgetu3103_prompt,#widgetu3107.fld-err-st #widgetu3107_input,#widgetu3107.fld-err-st #widgetu3107_prompt
{
	padding-top: 16px;
	padding-bottom: 16px;
}

#widgetu3046.non-empty-st #widgetu3046_prompt,#widgetu3118.non-empty-st #widgetu3118_prompt,#widgetu3111.non-empty-st #widgetu3111_prompt,#widgetu3103.non-empty-st #widgetu3103_prompt,#widgetu3107.non-empty-st #widgetu3107_prompt
{
	visibility: hidden;
}

#pu2728,#pu3062,#pu3074,#pu3087,#pu2656
{
	width: 0.01px;
}

#u2656
{
	z-index: 3;
	min-height: 104px;
	padding-bottom: 147px;
}

#u2658
{
	z-index: 8;
	width: 200px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 90px;
}

#u2656-bw
{
	z-index: 3;
	min-height: 104px;
}

#pamphletu2659
{
	z-index: 9;
	width: 0.01px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 138px;
	left: 40px;
}

#u2669popup
{
	z-index: 10;
}

#u2670
{
	z-index: 11;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u2671
{
	z-index: 12;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u2673
{
	z-index: 13;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u2674
{
	z-index: 14;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u2660
{
	z-index: 15;
	width: 75px;
	margin-right: -10000px;
}

#u2662
{
	width: 75px;
	height: 75px;
}

.ie #u3008.PamphletThumbSelected,.ie #u2662
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2662:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2662:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2662.PamphletThumbSelected
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u2661
{
	width: 45px;
	height: 45px;
	top: 15px;
	left: 15px;
}

#pamphletu2676
{
	z-index: 18;
	width: 0.01px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 138px;
	left: 115px;
}

#u2682popup
{
	z-index: 19;
}

#u2682
{
	width: 45px;
	top: 14px;
	left: 16px;
}

#u2683
{
	z-index: 20;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u2684
{
	z-index: 21;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u2686
{
	z-index: 22;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u2687
{
	z-index: 23;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u2677
{
	z-index: 24;
	width: 75px;
	margin-right: -10000px;
}

#u2679
{
	width: 75px;
	height: 75px;
}

.ie #u2662.PamphletThumbSelected,.ie #u2661,.ie #u2679
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2679:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2679:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2679.PamphletThumbSelected
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u2678
{
	width: 45px;
	height: 45px;
	top: 15px;
	left: 15px;
}

#pamphletu2693
{
	z-index: 27;
	width: 0.01px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 138px;
	left: 190px;
}

#u2703popup
{
	z-index: 28;
}

#u2704
{
	z-index: 29;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u2705
{
	z-index: 30;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u2707
{
	z-index: 31;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u2708
{
	z-index: 32;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u2696
{
	z-index: 33;
	width: 75px;
	margin-right: -10000px;
}

#u2697
{
	width: 75px;
	height: 75px;
}

.ie #u2679.PamphletThumbSelected,.ie #u2678,.ie #u2697
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2697:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2697:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2697.PamphletThumbSelected
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u2698
{
	width: 45px;
	height: 45px;
	top: 15px;
	left: 15px;
}

#pamphletu2710
{
	z-index: 36;
	width: 0.01px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 138px;
	left: 265px;
}

#u2718popup
{
	z-index: 37;
}

#u2669,#u2703,#u2718
{
	width: 45px;
	top: 14px;
	left: 15px;
}

#u2719
{
	z-index: 38;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u2720
{
	z-index: 39;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u2722
{
	z-index: 40;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u2723
{
	z-index: 41;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u2715
{
	z-index: 42;
	width: 75px;
	margin-right: -10000px;
}

#u2716
{
	width: 75px;
	height: 75px;
}

.ie #u2697.PamphletThumbSelected,.ie #u2698,.ie #u2716
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2716:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2716:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2716.PamphletThumbSelected
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u2717
{
	width: 45px;
	height: 45px;
	top: 15px;
	left: 15px;
}

.ie #u2716.PamphletThumbSelected,.ie #u2717
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2727-4
{
	z-index: 45;
	width: 250px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 65px;
}

#u2655
{
	z-index: 2;
	min-height: 57px;
	padding-bottom: 27px;
}

#u2657-4
{
	z-index: 4;
	width: 341px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 20px;
}

#u2655-bw
{
	z-index: 2;
	min-height: 57px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 335px;
}

#page .verticalspacer
{
	clear: both;
}

